page-signup {
  .toolbar-title {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .scroll-content {
   overflow-y: auto !important;
 }
 }
 ion-alert {
   &.alert-warning {
     .alert-message {
       overflow-y: auto;
     }
   }
   &.alert-danger {
     .alert-message {
       overflow-y: auto;
     }
     .alert-head {
       background: map-get($colors, danger);
       color: #fff;
       margin-bottom: 10px;
     }
   }
   &.alert-success {
     .alert-message {
       overflow-y: auto;
     }
     .alert-head {
       background: map-get($colors, success);
       color: #fff;
       margin-bottom: 10px;
     }
   }
 }
